.backdrop {
  inset: 0;
  z-index: 999;
  position: fixed;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(8px);
}

.aside {
  top: 16px;
  margin: 0;
  left: 16px;
  width: 100px;
  z-index: 1000;
  display: flex;
  position: fixed;
  overflow: hidden;
  padding: 16px 10px;
  border-radius: 10px;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  height: calc(100dvh - 32px);
  box-shadow: var(--box-shadow);
  justify-content: space-between;
  max-height: calc(100dvh - 32px);
  transition: transform 250ms ease;
  background-color: var(--background-3);
}

.logo__light {
  display: var(--display-light);
}

.logo__dark {
  display: var(--display-dark);
}

.logo__dark .logo__normal,
.logo__light .logo__normal {
  opacity: 1;
  display: block;
}

.logo__dark .logo__hover,
.logo__light .logo__hover {
  display: none;
}

.logo__dark:hover .logo__normal,
.logo__light:hover .logo__normal {
  display: none;
}

.logo__dark:hover .logo__hover,
.logo__light:hover .logo__hover {
  display: block;
}

.nav {
  width: 100%;
}

.list {
  gap: 10px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
}

.list li {
  width: 100%;
}

.footer {
  width: 100%;
}

@media (max-width: 768px) {
  .aside {
    top: 0;
    margin: 0;
    width: 100px;
    z-index: 1000;
    height: 100dvh;
    position: fixed;
    max-height: calc(100dvh);
    transition: left 250ms ease;
    border-radius: 0 10px 10px 0;
    box-shadow: var(--box-shadow);
    justify-content: space-between;
  }

  .topbar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    position: fixed;
    padding: 16px 0;
    align-items: center;
    justify-content: center;
    background: var(--background-2);
  }

  .is__sidebar__expanded {
    left: 0;
  }

  .is__sidebar__collapsed {
    left: -100px;
  }
}