.container {
  width: 100%;
}

.grid {
  gap: 16px;
  display: grid;
  padding: 10px 10px 0 16px;
  grid-template-columns: repeat(3, 1fr);
}

.no__data {
  display: flex;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: calc(300% + 32px);
  color: var(--foreground-3);
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .no__data {
    text-align: center;
    width: calc(200% + 16px);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .no__data {
    width: calc(100%);
    text-align: center;
    height: calc(100vh - 230px);
  }
}