.container {
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin: 0px 0 16px 11px;
  border-left: var(--border);
}

.step {
  gap: 10px;
  display: flex;
}

.title {
  font-weight: 500;
  color: var(--foreground-3);
}

.badge {
  width: 24px;
  height: 24px;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  margin-left: -13px;
  border-radius: 50%;
  align-items: center;
  border: var(--border);
  justify-content: center;
  color: var(--foreground-3);
  background-color: var(--background-1);
}

.badge.is__active {
  color: var(--background-1);
  background-color: var(--foreground-1);
}

.content {
  overflow: hidden;
  transition: max-height 300ms ease-out, padding 300ms ease-out;
}

.deeds {
  gap: 16px;
  display: flex;
  margin-left: 16px;
  flex-direction: column;
}

.deeds__children {
  border-left: var(--border);
  padding: 16px 0px 16px 16px;
}

.btn {
  width: 100px;
  border: none;
  height: 40px;
  display: flex;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  touch-action: none;
  align-items: center;
  letter-spacing: 0.75;
  justify-content: center;
  box-shadow: var(--box-shadow);
  transition: transform 250ms ease, background-color 250ms ease;
}

.btn:disabled {
  opacity: 0.5;
  cursor: var(--not-allowed-cursor);
}

.next {
  color: var(--background-2);
  background: var(--foreground-3);
}

.next:hover {
  color: var(--background-3);
  background: var(--foreground-2);
}

.back {
  color: var(--foreground-3);
  background: var(--background-2);
}

.back:hover {
  color: var(--foreground-2);
  background: var(--background-1);
}

.back {
  color: var(--foreground-1);
  background: var(--background-3);
}

.back:hover {
  color: var(--foreground-3);
  background: var(--background-1);
}

.btns {
  gap: 16px;
  margin: 16px;
  display: flex;
  justify-content: center;
}