.container {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 16px 80px;
  min-height: calc(100vh - 180px);
}

.empty__state {
  gap: 16px;
  width: 100%;
  display: flex;
  max-width: 400px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn 250ms ease;
}

.icon__wrapper {
  width: 68px;
  height: 68px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
  background: var(--background-3);
  border: 1px solid var(--background-1);
}

.icon {
  width: 30px;
  height: 30px;
  color: var(--foreground-2);
}

.content {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--foreground-1);
}

.description {
  font-size: 14px;
  line-height: 1.5;
  color: var(--foreground-3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}